<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br />
		<form action="/news/save" method="post">
			<label for="title">Título</label>
			<input type="text" name="title" id="title">
			<br />
			<label for="description">Descrição</label>
			<textarea type="text" name="description" id="description" rows="5" cols="30"></textarea>
			<br />
			<input type="submit" value="enviar">
		</form>
	</body>
</html>