<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Detalhes da notícia</title>
		</head>
	<body>

		<h1>Notícia</h1>
		<table>
			<tr>
				<td>Id</td>
				<td>Título</td>
				<td>Notícia</td>
			</tr>
				<tr>
					<td><%= newsDetails[0].id %></td>
					<td><%= newsDetails[0].title %></td>
					<td><%= newsDetails[0].description %></td>
				</tr>
		</table>
	</body>
</html>